@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
}

*:focus {
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: #fff;
}

body {
  background-color: #050816;
}

.sidebarOpen::after {
  top: 50% !important;
}

.sidebarOpen::before {
  top: 50% !important;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #151030;
  background: -webkit-linear-gradient(to right, #151030, #100d25, #08021f);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#151030),
    color-stop(#100d25),
    to(#08021f)
  );
  background: -webkit-linear-gradient(left, #151030, #100d25, #08021f);
  background: -moz-linear-gradient(left, #151030, #100d25, #08021f);
  background: -o-linear-gradient(left, #151030, #100d25, #08021f);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#151030),
    color-stop(#100d25),
    to(#08021f)
  );
  background: linear-gradient(to right, #151030, #100d25, #08021f);
}

.tertiary-gradient {
  background: #151030;
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#29205e),
    color-stop(70%, #151030)
  );
  background: -webkit-linear-gradient(right bottom, #29205e, #151030 70%);
  background: -moz-linear-gradient(right bottom, #29205e, #151030 70%);
  background: -o-linear-gradient(right bottom, #29205e, #151030 70%);
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#29205e),
    color-stop(70%, #151030)
  );
  background: linear-gradient(to left top, #29205e, #151030 70%);
  background: -webkit-linear-gradient(to left top, #29205e, #151030 70%);
}

.tertiary-dropdown_gradient {
  background: #151030;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1%, #151030),
    to(transparent)
  );
  background: -webkit-linear-gradient(bottom, #151030 1%, transparent 100%);
  background: -moz-linear-gradient(bottom, #151030 1%, transparent 100%);
  background: -o-linear-gradient(bottom, #151030 1%, transparent 100%);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1%, #151030),
    to(transparent)
  );
  background: linear-gradient(to top, #151030 1%, transparent 100%);
  background: -webkit-linear-gradient(to top, #151030 1%, transparent 100%);
}

.violet-gradient {
  background: #804dee;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#804dee),
    to(rgba(60, 51, 80, 0))
  );
  background: -webkit-linear-gradient(
    right,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
  background: -moz-linear-gradient(right, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -o-linear-gradient(right, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#804dee),
    to(rgba(60, 51, 80, 0))
  );
  background: -webkit-linear-gradient(
    right,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: #00cea8;
  background: -webkit-linear-gradient(359.87deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -moz-linear-gradient(359.87deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -o-linear-gradient(359.87deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  -moz-animation: green-pink-gradient 10s linear infinite;
  -o-animation: green-pink-gradient 10s linear infinite;
  animation: green-pink-gradient 10s linear infinite;
  -webkit-animation: green-pink-gradient 10s linear infinite;
}

.lightblue-text-gradient {
  color: #56ccf2;
}

.yellow-text-gradient {
  color: #f2ef56;
}

.green-pink-text-gradient {
  color: #00cea8;
}

.orange-text-gradient {
  color: #f5af19;
}

.green-text-gradient {
  color: #11998e;
}

.black-text-gradient {
  color: #fff;
}

.pink-text-gradient {
  color: #ec008c;
}

.blue-text-gradient {
  color: #2f80ed;
}

.violet-text-gradient {
  color: #620367;
}

@supports (
  (-webkit-background-clip: text) or (background-clip: text) or
    (-moz-background-clip: text) or (-webkit-text-fill-color: transparent)
) {
  .lightblue-text-gradient {
    background: -webkit-linear-gradient(to top, #5cd6ff, #b6edff);
    background: linear-gradient(to top, #5cd6ff, #b6edff);
  }

  .yellow-text-gradient {
    background: -webkit-linear-gradient(to top, #61603c, #f2ef56, #61603c);
    background: linear-gradient(to top, #61603c, #f2ef56, #61603c);
  }

  .green-pink-text-gradient {
    background: -webkit-linear-gradient(-to left, #00cea8 1.9%, #bf61ff 97.5%);
    background: linear-gradient(to left, #00cea8 1.9%, #bf61ff 97.5%);
    -moz-animation: green-pink-text-gradient 10s linear infinite;
    -o-animation: green-pink-text-gradient 10s linear infinite;
    animation: green-pink-text-gradient 10s linear infinite;
    -webkit-animation: green-pink-text-gradient 10s linear infinite;
  }

  .orange-text-gradient {
    background: -webkit-linear-gradient(to top, #f12711, #f5af19);
    background: linear-gradient(to top, #f12711, #f5af19);
  }

  .green-text-gradient {
    background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
    background: linear-gradient(to top, #11998e, #38ef7d);
  }

  .black-text-gradient {
    background: -webkit-linear-gradient(to top, #000000, #fff, #000000);
    background: linear-gradient(to top, #000000, #fff, #000000);
  }

  .pink-text-gradient {
    background: -webkit-linear-gradient(to top, #ec008c, #fc6767);
    background: linear-gradient(to top, #ec008c, #fc6767);
  }

  .blue-text-gradient {
    background: -webkit-linear-gradient(to top, #2f80ed, #56ccf2);
    background: linear-gradient(to top, #2f80ed, #56ccf2);
  }

  .violet-text-gradient {
    background: -webkit-linear-gradient(to top, #620367, #ce5ad4, #620367);
    background: linear-gradient(to top, #620367, #ce5ad4, #620367);
  }

  .lightblue-text-gradient,
  .yellow-text-gradient,
  .green-pink-text-gradient,
  .orange-text-gradient,
  .green-text-gradient,
  .black-text-gradient,
  .pink-text-gradient,
  .blue-text-gradient,
  .violet-text-gradient {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.stroke-text {
  color: #aaa6c3;
  letter-spacing: 2px;
  word-spacing: 1px;
}

@supports (-webkit-text-stroke: 1px #aaa6c3) {
  .stroke-text {
    color: transparent;
    -webkit-text-stroke: 1px #aaa6c3;
    text-stroke: 1px #aaa6c3;
  }
}

.loader {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-perspective: 850px;
  -moz-perspective: 850px;
  perspective: 850px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotateX(70deg);
  -moz-transform: rotateX(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotateZ(70deg);
  transform: rotateX(70deg);
  -moz-animation: 1s spin linear infinite;
  -o-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
  -webkit-animation: 1s spin linear infinite;
}

.loader:after {
  color: #856fff;
  -webkit-transform: rotateY(70deg);
  -moz-transform: rotateY(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotateZ(70deg);
  transform: rotateY(70deg);
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.alert_box_animation {
  -moz-animation: alert_box_animation 8s ease;
  -o-animation: alert_box_animation 8s ease;
  animation: alert_box_animation 8s ease;
  -webkit-animation: alert_box_animation 8s ease;
}

.contact-form__label:focus-within div {
  -webkit-transform: scaleX(1.005) scaleY(1.02);
  -moz-transform: scaleX(1.005) scaleY(1.02);
  -ms-transform: scaleX(1.005) scaleY(1.02);
  -o-transform: scaleX(1.005) scaleY(1.02);
  transform: scaleX(1.005) scaleY(1.02);
}

.contact-form__label:nth-child(3):focus-within div {
  -webkit-transform: scaleX(1.004) scaleY(1.01);
  -moz-transform: scaleX(1.004) scaleY(1.01);
  -ms-transform: scaleX(1.004) scaleY(1.01);
  -o-transform: scaleX(1.004) scaleY(1.01);
  transform: scaleX(1.004) scaleY(1.01);
}

.star {
  -webkit-animation: meteor 10s linear infinite;
  -moz-animation: meteor 10s linear infinite;
  -o-animation: meteor 10s linear infinite;
  animation: meteor 10s linear infinite;
}

.star::before {
  background: rgb(255, 255, 255);
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -100%,
    transparent 80%
  );
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -100%,
    transparent 80%
  );
  background: -o-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -100%,
    transparent 80%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -100%,
    transparent 80%
  );
  -webkit-animation: shining 6s linear infinite;
  -moz-animation: shining 6s linear infinite;
  -o-animation: shining 6s linear infinite;
  animation: shining 6s linear infinite;
}

@-moz-keyframes green-pink-gradient {
  50% {
    filter: hue-rotate(350deg);
    -webkit-filter: hue-rotate(350deg);
    -ms-filter: hue-rotate(350deg);
  }
}

@-o-keyframes green-pink-gradient {
  50% {
    filter: hue-rotate(350deg);
    -webkit-filter: hue-rotate(350deg);
    -ms-filter: hue-rotate(350deg);
  }
}

@keyframes green-pink-gradient {
  50% {
    filter: hue-rotate(350deg);
    -webkit-filter: hue-rotate(350deg);
    -ms-filter: hue-rotate(350deg);
  }
}

@-webkit-keyframes green-pink-gradient {
  50% {
    filter: hue-rotate(350deg);
    -webkit-filter: hue-rotate(350deg);
    -ms-filter: hue-rotate(350deg);
  }
}

@-moz-keyframes green-pink-text-gradient {
  50% {
    filter: hue-rotate(120deg);
    -webkit-filter: hue-rotate(120deg);
    -ms-filter: hue-rotate(120deg);
  }
}

@-o-keyframes green-pink-text-gradient {
  50% {
    filter: hue-rotate(120deg);
    -webkit-filter: hue-rotate(120deg);
    -ms-filter: hue-rotate(120deg);
  }
}

@keyframes green-pink-text-gradient {
  50% {
    filter: hue-rotate(120deg);
    -webkit-filter: hue-rotate(120deg);
    -ms-filter: hue-rotate(120deg);
  }
}

@-webkit-keyframes green-pink-text-gradient {
  50% {
    filter: hue-rotate(120deg);
    -webkit-filter: hue-rotate(120deg);
    -ms-filter: hue-rotate(120deg);
  }
}

@-webkit-keyframes spin {
  0%,
  100% {
    -webkit-box-shadow: 0.2em 0px 0 0px currentcolor;
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    -webkit-box-shadow: 0.2em 0.2em 0 0 currentcolor;
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    -webkit-box-shadow: 0 0.2em 0 0px currentcolor;
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    -webkit-box-shadow: -0.2em 0.2em 0 0 currentcolor;
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    -webkit-box-shadow: -0.2em 0 0 0 currentcolor;
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    -webkit-box-shadow: -0.2em -0.2em 0 0 currentcolor;
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    -webkit-box-shadow: 0px -0.2em 0 0 currentcolor;
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    -webkit-box-shadow: 0.2em -0.2em 0 0 currentcolor;
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@-moz-keyframes spin {
  0%,
  100% {
    -moz-box-shadow: 0.2em 0px 0 0px currentcolor;
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    -moz-box-shadow: 0.2em 0.2em 0 0 currentcolor;
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    -moz-box-shadow: 0 0.2em 0 0px currentcolor;
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    -moz-box-shadow: -0.2em 0.2em 0 0 currentcolor;
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    -moz-box-shadow: -0.2em 0 0 0 currentcolor;
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    -moz-box-shadow: -0.2em -0.2em 0 0 currentcolor;
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    -moz-box-shadow: 0px -0.2em 0 0 currentcolor;
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    -moz-box-shadow: 0.2em -0.2em 0 0 currentcolor;
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@-o-keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@keyframes spin {
  0%,
  100% {
    -webkit-box-shadow: 0.2em 0px 0 0px currentcolor;
    -moz-box-shadow: 0.2em 0px 0 0px currentcolor;
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    -webkit-box-shadow: 0.2em 0.2em 0 0 currentcolor;
    -moz-box-shadow: 0.2em 0.2em 0 0 currentcolor;
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    -webkit-box-shadow: 0 0.2em 0 0px currentcolor;
    -moz-box-shadow: 0 0.2em 0 0px currentcolor;
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    -webkit-box-shadow: -0.2em 0.2em 0 0 currentcolor;
    -moz-box-shadow: -0.2em 0.2em 0 0 currentcolor;
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    -webkit-box-shadow: -0.2em 0 0 0 currentcolor;
    -moz-box-shadow: -0.2em 0 0 0 currentcolor;
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    -webkit-box-shadow: -0.2em -0.2em 0 0 currentcolor;
    -moz-box-shadow: -0.2em -0.2em 0 0 currentcolor;
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    -webkit-box-shadow: 0px -0.2em 0 0 currentcolor;
    -moz-box-shadow: 0px -0.2em 0 0 currentcolor;
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    -webkit-box-shadow: 0.2em -0.2em 0 0 currentcolor;
    -moz-box-shadow: 0.2em -0.2em 0 0 currentcolor;
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@-moz-keyframes alert_box_animation {
  5%,
  95% {
    right: 2rem;
  }
  100% {
    right: -100%;
  }
}

@-o-keyframes alert_box_animation {
  5%,
  95% {
    right: 2rem;
  }
  100% {
    right: -100%;
  }
}

@keyframes alert_box_animation {
  5%,
  95% {
    right: 2rem;
  }
  100% {
    right: -100%;
  }
}

@-webkit-keyframes alert_box_animation {
  5%,
  95% {
    right: 2rem;
  }
  100% {
    right: -100%;
  }
}

@-webkit-keyframes meteor {
  0% {
    -webkit-transform: translate(0, 0) rotate(45deg);
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-850px, 105vh) rotate(45deg);
    transform: translate(-850px, 105vh) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes meteor {
  0% {
    -moz-transform: translate(0, 0) rotate(45deg);
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    -moz-transform: translate(-850px, 105vh) rotate(45deg);
    transform: translate(-850px, 105vh) rotate(45deg);
    opacity: 0;
  }
}
@-o-keyframes meteor {
  0% {
    -o-transform: translate(0, 0) rotate(45deg);
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    -o-transform: translate(-850px, 105vh) rotate(45deg);
    transform: translate(-850px, 105vh) rotate(45deg);
    opacity: 0;
  }
}
@keyframes meteor {
  0% {
    -webkit-transform: translate(0, 0) rotate(45deg);
    -moz-transform: translate(0, 0) rotate(45deg);
    -o-transform: translate(0, 0) rotate(45deg);
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-850px, 105vh) rotate(45deg);
    -moz-transform: translate(-850px, 105vh) rotate(45deg);
    -o-transform: translate(-850px, 105vh) rotate(45deg);
    transform: translate(-850px, 105vh) rotate(45deg);
    opacity: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes shining {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes shining {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes shining {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 600px) {
  @-moz-keyframes alert_box_animation {
    5%,
    95% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }
  @-o-keyframes alert_box_animation {
    5%,
    95% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }
  @keyframes alert_box_animation {
    5%,
    95% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }

  @-webkit-keyframes alert_box_animation {
    5%,
    95% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }
}
